* {
  font-family: Lato;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #222222;
  color: white;
  text-align: center;
}